<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key='BaseGovernmentDataUri' value='https://data.gov.il/api/3/action/datastore_search?resource_id=' />
    <add key='GovernmentDataAddressesId' value='bf185c7f-1a4e-4662-88c5-fa118a244bda' />
    <add key='GovernmentDataPhonesId' value='74b44725-d8cc-4ae9-ba08-2c40a61ab68e' />
    <add key='GovernmentDataFilters' value='filters={' />
    <add key='GovernmentDataCity' value='"city_name":"'/>
    <add key='GovernmentDataStreet' value='"street_name":"'/>
    <add key='GovernmentDataPhone' value='"Dialing Within Israel":"'/>
    <add key='GovernmentDataNotesPhone' value='"Notes":"'/>
    <add key='GovernmentDataCloseFilter' value='",'/>
    <add key='GovernmentDataLastFilter' value='"}'/>
  </appSettings>
</configuration>
